.venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/
creditcard.csv
data_store.json
instance/
model_metadata.local.json
Documentation/texput.log
Documentation/CreditCard/*.aux
Documentation/CreditCard/*.bbl
Documentation/CreditCard/*.blg
Documentation/CreditCard/*.log
Documentation/CreditCard/*.lot
Documentation/CreditCard/*.out
Documentation/CreditCard/*.toc
*.tar.gz

tmp/
tmp1/
tmp2/
#prepare_config.json
#prepare_for_deepseek.py
.prepare_config.json
.prepare_for_deepseek.py


FILE_STRUCTURE.md 


